<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <section id="Home">
            <nav class="navbar navbar-expand-lg navbar-dark bg-success">
                <a class="navbar-brand" href="#"><img class="nav-logo" src="images/orgikart.png" >Orgikart</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Catagories</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Our Process</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Food Gallery</a>
                    </li>
                    
                  </ul>
                  <div class="navbar-nav ml-auto">
                      <div class="nav-item">
                        <!-- <a class="nav-link aa" href="#"><img class="nav-logo-kart" src="kart.png" ></a> -->
                        <a class="nav-link aa" href="#">Sign up</a>
                    </div>
                      <div class="nav-item">
                        <!-- <a class="nav-link aa" href="#"><img class="nav-logo-kart" src="kart.png" ></a> -->
                        <a class="nav-link aa" href="#">Log in</a>
                    </div>
                  </div>
                </div>
              </nav>

        </section>
        <nav>

        </nav>
    </div>
    
</body>
</html>